{% extends 'base.html' %}

{% load staticfiles %}
{% load member_extras %}

{% block content %}

<!-- Header -->
<div class="jumbotron rounded-0">
  <div class="container text-center text-white">
    <img src="{% static 'images/logo-white.svg' %}" alt="ComCiDis logo">
    <h1 class="display-3">ComCiDis</h1>
    <h4>Grupo de Computação Científica Distribuída</h4>
  </div>
</div>


<div class="container-fluid mt-3">
  <div class="card-deck">
    {% for publication in recent_publications %}
    <div class="card mt-3">
      <div class="card-block text-center">
        <p class="card-text"><a href="{% url 'publication.detail' publication.slug %}" class="text-default">{{ publication.title|title }}</a></p>
        <p class="card-text"><small class="text-muted">
          {% for author in publication.authors_list %}
            {{ author.citation_name }}
            {% if not forloop.last %}
            ;
            {% endif %}
          {% endfor %}
        </small></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ publication.conference }} {{ publication.date.year }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="wrapper pt-4">
  <div class="container">
    {% for section in sections %}
    <section class="mt-5">
      <h2>{{ section.title }}</h2>
      <p class="mt-3 text-muted lead">{{ section.short_description }}</p>
      <p class="mt-3">{{ section.description }}</p>
    </section>
    {% endfor %}
  </div>
</div>

<div class="mt-5 pb-5 pt-4 mb-5">
  <div class="container">
    <h2 class="text-center">Linhas de Pesquisa</h2>
    <div class="row mt-5">
      {% for col in research_columns %}
      <div class="col-md-6">
        <ul class="list-group">
          {% for reseach in col %}
          <li class="list-group-item">{{ reseach.name }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
