{% extends 'base.html' %}

{% load staticfiles %}
{% load member_extras %}

{% block content %}

<!-- Header -->
<div class="jumbotron rounded-0">
  <div class="container text-center text-white">
    <img src="{% static 'images/logo-white.svg' %}" alt="ComCiDis logo">
    <h1 class="display-3">ComCiDis</h1>
    <h4>Grupo de Computação Científica Distribuída</h4>
  </div>
</div>


<div class="container-fluid">
  <div class="card-deck">
    {% for publication in recent_publications %}
    <div class="card">
      <div class="card-block text-center">
        <p class="card-text"><a href="{% url 'publication.detail' publication.id %}" class="text-default">{{ publication.title }}</a></p>
        <p class="card-text"><small class="text-muted">
          {% for author in publication.authors_list %}
            {{ author.citation_name }}
            {% if not forloop.last %}
            ;
            {% endif %}
          {% endfor %}
        </small></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ publication.conference }} {{ publication.date.year }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
