{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 mb-5 pd-5">
  <h1>Infraestrutura</h1>

  <div class="card-deck">
    {% for cluster in infrastructure %}
    <div class="card mt-3" style="width: 20rem;">
      <div class="card-header card-primary text-white">
        {{ cluster.short_description }}
      </div>
      <div class="card-block">
        <h4 class="card-title">{{ cluster.name }}</h4>
        <p class="card-text">{{ cluster.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        {% for resource_name, resource in cluster.overview.items %}
        <li class="list-group-item"><span class="lead"><strong>{{ resource.total }} {{ resource.label}}</strong> {{ resource_name }}</span></li>
        {% endfor %}
      </ul>
    </div><!-- /card -->
    {% endfor %}
  </div><!-- /card-deck -->
</div><!-- /container -->

{% endblock %}