{% extends 'base.html' %}
{% load member_extras %}

{% block content %}
<div class="container mt-5 mb-5">
  <h1>Equipe</h1>
  
  <h3 class="mt-4">Orientador</h3>
  <div class="row">
  {% for advisor in advisors %}
    <div class="col-md-12 mt-2">
      {% if advisor.is_active %}
      <div class="media">
        <a href="{{ advisor.lattes_link }}" target="_blank">
          <img class="d-flex mr-3 rounded-circle" src="{{ advisor.email|gravatar_url:150 }}" alt="Gravatar {{ advisor.name }}" width="78px">
        </a>
        <div class="media-body">
          <h5 class="mt-0"><small>{{ advisor.degree }}</small> {{ advisor.name }}</h5>
          <span>{{ advisor.scholarship }}</span><br>
          <span class="badge badge-default">{{ advisor.line_of_research }}</span>
        </div>
      </div>
      {% endif %}
    </div>
  {% endfor %}
  </div>
  
  <h3 class="mt-5">Alunos</h3>
  <div class="row">
  {% for member in members %}
      {% if member.is_active %}
      <div class="col-md-6 mt-4">
      <div class="media">
        <a href="{{ member.lattes_link }}" target="_blank">
          <img class="d-flex mr-3 rounded-circle" src="{{ member.email|gravatar_url:150 }}" alt="Gravatar {{ member.name }}" width="78px">
        </a>
        <div class="media-body">
          <h5 class="mt-0"><small>{{ member.degree }}</small> {{ member.name }}</h5>
          <span>{{ member.scholarship }}</span><br>
          <span class="badge badge-default">{{ member.line_of_research }}</span>
        </div>
      </div>
      </div>
      {% endif %}
  {% endfor %}
  </div>
</div>

{% endblock %}
