<!-- FOOTER -->
<footer class="bd-footer text-white footer pt-5 pb-4">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item"><a class="text-white" href="https://github.com/comcidis" target="_blank">GitHub</a></li>
      <li class="list-inline-item"><a class="text-white" href="{% url 'member.index' %}">Equipe</a></li>
      <li class="list-inline-item"><a class="text-white" href="{% url 'publication.index' %}">Produções</a></li>
      <li class="list-inline-item"><a class="text-white" href="{% url 'infrastructure.index' %}">Infraestrutura</a></li>
    </ul>
    <p>&copy; 2017 &middot; ComCiDis</p>
  </div>
</footer>