{% load staticfiles %}

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top navbar-custom">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo-white.svg' %}" alt="ComCiDis logo" height="22px" style="margin-top: -4px">
       <b class="text-white d-md-none"> {{ mobile_title_page }}</b>
      </a>
      
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'member.index' %}">Equipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'publication.index' %}">Produções</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'infrastructure.index' %}">Infraestrutura</a>
          </li>
      </div>
    </nav>

