{% extends 'base.html' %}

{% block content %}
<h1>Produções Associadas</h1>

{% for publication in publications %}
<div class="w3-container">
  <h5>[{% widthratio forloop.counter 1 publications.number %}] {{ publication.title }}</h5>
  <h6 class="w3-opacity">
      {% for author in publication.authors_list %}
        {{ author.citation_name }}
        {% if not forloop.last %}
        ;
        {% endif %}
        {% endfor %}
        
      - {{ publication.conference.initials }} {{ publication.date.year }}
  </h6>
</div>
{% empty %}
<div class="w3-container">
  <h5>Nenhuma produção cadastrada.</h5>
</div>
{% endfor %}


<!-- pagination -->
<div class="w3-padding-64">
    <div class="w3-center">
        <div class="w3-bar">
          {% if publications.has_previous %}
          <a href="{% url 'publication.index' %}?page={{ publications.previous_page_number }}" class="w3-button">&laquo;</a>
          {% endif %}
          {% for num in publications.paginator.page_range %}
              {% if num == publications.number %}
              <a href="{% url 'publication.index' %}?page={{ num }}" class="w3-button w3-theme-d3">{{ num }}</a>
              {% else %}
              <a href="{% url 'publication.index' %}?page={{ num }}" class="w3-button">{{ num }}</a>
              {% endif %}
          {% endfor %}
          {% if publications.has_next %}
          <a href="{% url 'publication.index' %}?page={{ publications.next_page_number }}" class="w3-button">&raquo;</a>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}
