{% extends 'base.html' %}

{% block content %}
<h1>Produções Associadas</h1>

<table class="w3-table-all w3-hoverable">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Conferência</th>
            <th>Ano</th>
        </tr>
    </thead>
    <tbody>
        {% for publication in publications %}
        <tr>
            <td>
                {% if publication.link %}
                    <a href="{{ publication.link }}">{{ publication.title }}</a>
                {% else %}
                    {{ publication.title }}
                {% endif %}
            </td>
            <td>{{ publication.authors_list.0.citation_name }}</td>
            <td>{{ publication.conference.initials }}</td>
            <td>{{ publication.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
